<div id="WebPlex-AsyncIndicator"
     data-wait-message="@Resources.Views_Shared_DefaultLayout_WaitMessage"
     data-failure-message="@Resources.Views_Shared_DefaultLayout_FailureMessage"
     data-success-message="@Resources.Views_Shared_DefaultLayout_SuccessMessage">
    <span class="WebPlex-Border">
        <span class="WebPlex-Progress"></span>
    </span>
</div>