<div class="WebPlex-PoweredBy WebPlex-PullLeft">
    <span class="WebPlex-Icon"></span>
    @Html.Raw(@"{0} <a href=""http://www.webplex.ir/"" target=""_blank"">{1}</a>", Resources.Views_Shared_Footer_PoweredBy, Resources.Views_Shared_Footer_WebPlex)
</div>