<ul class="WebPlex-TopLinks WebPlex-PullRight WebPlex-Clearfix">
    <li class="WebPlex-LinkItem">
        @Html.RouteLink(Resources.Views_Shared_TopRight_Home, MVC.Home.Root(), new {
            @class = "WebPlex-LinkAnchor"
        })
    </li>
    <li class="WebPlex-LinkItem">
        @Html.RouteLink(Resources.Views_Shared_TopRight_ContactUs, MVC.Home.Root(), new {
            @class = "WebPlex-LinkAnchor"
        })
    </li>
</ul>