@model CustomerModel

<div class="WebPlex-MailContent">
    <h1 class="WebPlex-Title">
        @Html.Raw(Resources.Views_Notification_PasswordResetRequested_Headline, Model.GetDisplayName())
    </h1>

    <ul class="WebPlex-HeadingList">
        <li>
            @Html.Raw(Resources.Views_Notification_PasswordResetRequested_RequestDate, Html.DisplayFor(model => model.ResetPasswordRequestedDateUtc))
        </li>
        <li>
            @Html.Raw(Resources.Views_Notification_PasswordResetRequested_ExpirationDate, Html.DisplayFor(model => model.ResetPasswordExpiresDateUtc))
        </li>
        <li>
            @Html.Raw(Resources.Views_Notification_PasswordResetRequested_ResetLink, Url.Abs(Url.Action(MVC.Account.ResetPasswordCallback(Model.ResetPasswordToken, null))))
        </li>
    </ul>
</div>