<?xml version="1.0"
      encoding="utf-8" ?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor"
                  type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host"
               type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
               requirePermission="false" />
      <section name="pages"
               type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
               requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host
      factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="WebPlex.Applications.CompactStore.Mvc.StoreViewPage">
      <namespaces>
        <add namespace="System.Linq.Expressions" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="Newtonsoft.Json" />
        <add namespace="Dnum" />
        <add namespace="T4MVC" />
        <add namespace="GravatarHelper" />
        <add namespace="GravatarHelper.Extensions" />
        <add namespace="Mvc.Mailer" />
        <add namespace="FarsiLibrary" />
        <add namespace="WebPlex.Applications.CompactStore" />
        <add namespace="WebPlex.Applications.CompactStore.Properties" />
        <add namespace="WebPlex.Applications.CompactStore.Helpers" />
        <add namespace="WebPlex.Applications.CompactStore.Models" />
        <add namespace="WebPlex.Applications.CompactStore.Data.Repositories" />
        <add namespace="WebPlex.Applications.CompactStore.Security" />
        <add namespace="WebPlex.Applications.CompactStore.ViewModels" />
        <add namespace="WebPlex.Applications.CompactStore.Mvc" />
        <add namespace="WebPlex.Applications.CompactStore.Extensions" />
        <add namespace="WebPlex.Applications.CompactStore.Routing" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled"
         value="false" />
  </appSettings>

  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler" />
      <add name="BlockViewHandler"
           path="*"
           verb="*"
           preCondition="integratedMode"
           type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
</configuration>