<appSettings>
  <add key="webpages:Version"
       value="3.0.0.0" />
  <add key="webpages:Enabled"
       value="true" />
  <add key="ClientValidationEnabled"
       value="true" />
  <add key="UnobtrusiveJavaScriptEnabled"
       value="true" />
  <add key="RouteDebugger:Enabled"
       value="false" />
  <add key="MvcMailer.BaseURL"
       value="" />
  <add key="store:DefaultPageSize"
       value="6" />
  <add key="store:ViewsCountFactor"
       value="1" />
  <add key="store:AddedToCartCountFactor"
       value="1" />
  <add key="store:SenderEmailAddress"
       value="m.sadegh.sh@gmail.com" />
  <add key="store:ReceiverEmailAddress"
       value="m.sadegh.sh+CompactStore@gmail.com" />
  <add key="store:AfeGatewayUrl"
       value="http://www.afe.ir/Url/SendSMS.aspx" />
  <add key="store:AfeUserName"
       value="pouya_7hyper" />
  <add key="store:AfePassword"
       value="7hyp2014" />
  <add key="store:AfeNumber"
       value="30007957952230" />
  <add key="store:MaximumInvalidCredentialsAttempts"
       value="3" />
  <add key="store:CustomerLockDuration"
       value="0:00:30:00" />
  <add key="store:CustomerResetPasswordTokenValidityDuration"
       value="2:00:00:00" />
</appSettings>