<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="store:SenderEmailAddress"
       value="no-reply@7hyper.ir"
       xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)" />
  <add key="store:ReceiverEmailAddress"
       value="sales@7hyper.ir"
       xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)" />
</appSettings>