<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="StoreContext"
       connectionString="Data Source=62.60.138.138; Initial Catalog=CompactStore; User ID=CompactUser; Password=qw12QW!@; MultipleActiveResultSets=True;"
       xdt:Transform="SetAttributes"
       xdt:Locator="Match(name)" />
</connectionStrings>