<outputCacheSettings>
  <outputCacheProfiles>
    <clear />
    <add name="Home-Sitemap"
         enabled="false"
         duration="3600" />
    <add name="Optimization-Image"
         enabled="true"
         duration="3600"
         varyByParam="maximumWidth,maximumHeight,relativeUrl" />
    <add name="Product-List"
         enabled="false"
         duration="3600"
         varyByParam="categorySlug,query,order,direction,page,size" />
    <add name="Product-Details"
         enabled="false"
         duration="3600"
         varyByParam="categorySlug,productSlug" />
  </outputCacheProfiles>
</outputCacheSettings>