<outputCacheSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <outputCacheProfiles>
    <add name="Home-Sitemap"
         enabled="true"
         duration="86400"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
    <add name="Optimization-Image"
         enabled="true"
         duration="86400"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
    <add name="Product-List"
         enabled="true"
         duration="3600"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
    <add name="Product-Details"
         enabled="true"
         duration="3600"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
  </outputCacheProfiles>
</outputCacheSettings>