<smtp xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
      from="no-reply@7hyper.ir"
      xdt:Transform="Replace">
  <network enableSsl="false"
           host="mail.7hyper.ir"
           port="587"
           userName="admin@7hyper.ir"
           password="valid-password" />
</smtp>