@font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: normal;
    src: url('/Assets/Fonts/Yekan.eot');
    src: url('/Assets/Fonts/Yekan.eot?#iefix') format('embedded-opentype'), url('/Assets/Fonts/Yekan.woff') format('woff'), url('/Assets/Fonts/Yekan.ttf') format('truetype');
}

@font-face {
    font-family: Nazanin;
    font-style: normal;
    font-weight: normal;
    src: url('/Assets/Fonts/Nazanin.eot');
    src: url('/Assets/Fonts/Nazanin.eot?#iefix') format('embedded-opentype'), url('/Assets/Fonts/Nazanin.woff') format('woff'), url('/Assets/Fonts/Nazanin.ttf') format('truetype');
}

@font-face {
    font-family: NazaninBold;
    font-style: normal;
    font-weight: bold;
    src: url('/Assets/Fonts/NazaninBold.eot');
    src: url('/Assets/Fonts/NazaninBold.eot?#iefix') format('embedded-opentype'), url('/Assets/Fonts/NazaninBold.woff') format('woff'), url('/Assets/Fonts/NazaninBold.ttf') format('truetype');
}