@model ResetPasswordModel

@{
    Layout = Views.Shared._MinimalLayout_cshtml;
    ViewBag.Title = Resources.Views_Account_ResetPassword_Meta_Title;
}

<div id="WebPlex-ResetPasswordContainer" class="WebPlex-BoxContainer WebPlex-Clearfix">
    @Html.Partial(Views.Account._ResetPassword_cshtml, Model)
</div>